<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <a ui-sref="user({id: product.user._id})">{{user.firstName}}</a> -->
            <a ui-sref="home"><fullstack-logo></fullstack-logo></a>
        </div>

        <button ng-show="!user" ui-sref="signup" class="btn pull-right login-button">Signup</button>
        <button ng-show="!user" ui-sref="login" class="btn pull-right login-button">Login</button>
        <div ng-show="user" class="pull-right welcome">
            <a ng-click="logout()">Logout</a>
        </div>

        <span ng-show="user">Welcome, {{user.firstName}}!</span>

        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" class = "pull-left" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-show="isLoggedIn() && user.isAdmin">
                <a ui-sref-active="active" class = "pull-left" ui-sref="{{ user.list }}">Users</a>
            </li>
        </ul>
        <div class="navbar-header pull-left">
            <form name="searchForm" class="form-group form-inline search-navbar">
                <div class="btn-group dropdown" dropdown dropdown-append-to-body>
                    <button type="button" class="btn btn-default dropdown-toggle search-param-toggle" dropdown-toggle>Search by product {{searchParam}} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="paramOption in paramOptions track by $index" ng-click="setSearchParam(paramOption)">{{paramOption}}</li>
                    </ul>
                </div>
                <input type="text" ng-model="searchStr" class="form-control"/>
                <a ui-sref="product-list(setQueryParam())"><button class = "btn btn-default"><span class = "glyphicon glyphicon-search"></span></button></a>
            </form>
        </div>
    </div>
</nav>
