<div>
    <h3>
        Past Orders
    </h3>
    
    <div class='container'>
        <div ng-repeat="order in orders">
            <div ng-repeat='cartItem in order.products'>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 item-container">
                        <product-list-item product="cartItem.product"></product-list-item>
                    </div>
                </div>
            </div>
             <p>Total: {{order.total}}</p>
        </div>
    </div>
</div>
