<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title">Sign up for Sketchbay <small>It's free!</small></h3>
                        <alert type="danger" ng-show="error">
                            {{ error }}
                        </alert>
                        </div>
                        <div class="panel-body">
                        <form id="signup-form" name="signupForm"  class="signin-container" ng-submit="signupForm.$valid && sendSignup(signup)">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input ng-model="signup.firstName" id="firstName" type="text" name="first_name" class="form-control input-sm" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input 
                                        ng-model="signup.lastName" id="lastName" type="text" class="form-control input-sm" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input 
                                ng-model="signup.email" id="email" type="email" name="email" class="form-control input-sm" placeholder="Email Address">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input 

                                        ng-model="signup.password" id="signup-password" type="password" name="password" class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>
                            
                            <input type="submit" class="btn btn-info btn-block">
                        
                        </form>
                            <div class="buffer oauth" id="signup-form">
                                <oauth-button class="btn btn-link col-xs-6" provider-name="Google" onClick="window.location='/auth/google';"></oauth-button>
                                <oauth-button class="btn btn-link col-xs-6" provider-name="Facebook" onClick="window.location='/auth/facebook';"></oauth-button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>