<div class="container">
    <div class="jumbotron text-center">
        <div class="row">
            <h2 class="pull-left">Add a new Product</h2>
        </div>
        <div class="row">
            <form name="addProductForm" ng-submit="addProductForm.$valid && addProduct()">
                <label for="productName">Name</label>
                <input type="text" class="form-control" name="productName" ng-model="product.name" required/>
                <div class="form-group form-inline">
                    <label for="productCategory">Category</label>
                    <input type="text" class="form-control" name="productCategory" ng-model="product.category" required/>
                    <label for="productQuantity">Quantity</label>
                    <input type="number" class="form-control" name="productQuantity" ng-model="product.quantity" placeholder="1" min="0" required/>
                    <input type="text"class="form-control" name="productPhoto" ng-model="product.photo"/>
                    <!--<select ng-model="product.quantity" ng-show="product.quantity < 10">-->
                        <!--<option value="{{choice.quantity}}" ng-repeat="choice in quantitySelections">{{choice.name}}</option>-->
                    <!--</select>-->
                    <!--<pre>{{product.quantity | json}}</pre>-->
                </div>
            </form>
        </div>
    </div>
</div>
