<div class="container">
    <div class="jumbotron text-center">
        <div class="row">
            <h2 class="pull-left">Add a new Product</h2>
        </div>
        <div class="row">
            <form name="addProductForm" ng-submit="addProductForm.$valid && editProduct()">
                <label class="pull-left" for="productName">Name</label>
                <input type="text" class="form-control" name="productName" ng-model="product.name" required/>
                <label for="productDescription" class="pull-left">Description</label>
                <input type="text" class="form-control" name="productDescription" ng-model="product.description" required/>
                <div class=" form-inline">
                    <label for="productCategory">Category</label>
                    <input type="text" class="form-control" name="productCategory" ng-model="product.category" required/>
                    <label for="productPrice">Price</label>
                    <input type="number" class="form-control" name="productPrice" ng-model="product.price" min="0.01" required/>
                    <label for="productQuantity">Quantity</label>
                    <input type="number" class="form-control" name="productQuantity" ng-model="product.quantity" placeholder="1" min="0" required/>
                </div>
                <label for="productState">State</label>
                <select name="" ng-options="state.name for state in states" ng-model="product.location.state" required></select>
                <label class="pull-left">Street Address</label>
                <input type="text" class="form-control" ng-model="product.location.street" required/>
                <label class="pull-left">City</label>
                <input type="text" class="form-control" ng-model="product.location.city" required/>
                <label class="pull-left">Zip</label>
                <input type="text" class="form-control" ng-model="product.location.zip" required/>
                <label class="pull-left" for="productPhoto">Photo Url</label>
                <input type="text"class="form-control" name="productPhoto" ng-model="product.photo"/>

                <tags-input ng-model="product.keywords"></tags-input>
                <button type="submit" class="btn btn-success pull-left">Edit</button>
            </form>
        </div>
    </div>
</div>
