<div>
    <h3>
        Past Orders
    </h3>
    <hr>
    <div class='container'>
        <div ng-hide="{{!order}}">
            <h5>You don't have any previous orders at this time</h5><hr>
        </div>
        <div ng-repeat="order in orders">
        <h3>Ordered on: {{order.date | date}}</h3>
            <div ng-repeat='cartItem in order.products'>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 item-container">
                        <product-list-item product="cartItem.product"></product-list-item>
                    </div>
                </div>
            </div>
             <h4>Total: {{order.total}}</h4>
             <p>Status: {{order.status}}</p>
             <hr>

        </div>
    </div>
</div>
