<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title">Login to Sketchbay</h3>
                        <alert type="danger" ng-show="error">
                            {{ error }}
                        </alert>
                        </div>
                        <div class="panel-body">
                        <form id="login-form" name="loginForm"  class="signin-container" ng-submit="loginForm.$valid && sendLogin(login)">
                            <div class="row">
                            </div>
                                <div class="form-group">
                                    <input type="text" ng-model="login.email" id="email" name="email" class="form-control input-sm" placeholder="Email Address">
                                </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input 

                                        type="password" ng-model="login.password" id="login-password" name="password" class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            
                            <input type="submit" class="btn btn-info btn-block">
                        </form>
                            <div class="buffer oauth" id="signup-form">
                                <oauth-button provider-name="Google" onClick="window.location='/auth/google';"></oauth-button>
                                <oauth-button provider-name="Facebook" onClick="window.location='/auth/facebook';"></oauth-button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>