.userBadge {
	@include clearfix;
	&:before {
	    content: "";
	    display: block;
	    clear: both;
	}
	padding-top: 30px;
  a { 
	display: block;
	font-size: 18px;
  	}
  img {
  	display: block;
  }
}

.mapBox {
	@include clearfix;
	}

.rec {
	&:before {
	    content: "";
	    display: block;
	    clear: both;
	}
	padding-top: 300px;
}
