#about {

  margin: 0 auto;
  width: 90%;
  @include clearfix;

  p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left;
  }

  .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto;
    .carousel-inner {
      height: 500px !important;
    }
    .carousel-control {
      background: none;
    }
    .carousel-indicators {
      display: none;
    }
    img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
  }

}


.footer{
	display:black;
	margin-top:3%;
	margin-bottom:1%;
	
}

.no-padding{
	padding:0px !important;
}

.inline{
	display:inline-block;
}

.price{
	font-weight:500;
	font-size:30px;
}

.product-image{
	margin-bottom:10px;
}

.category{
	font-size:18px;
}
