* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

.light-grey {
  color: #DDD;
}

.top-buff {
  margin-top: 10px;
}

.no-margin {
  margin: 0px;
}

.clickable:hover {
  background: #E6F5E6;
  cursor: pointer;
}

.crop {
  height: 150px;
  // width: 400px;
  overflow: hidden;
  img {
    height: 128px;
    width: auto;
  }
}

.btn.no-focus:focus {
  outline:0;
}

.width100 {
  width:100%;
}

.witdth50 {
  width:50%;
}


.jumbotron-flat {
  background-color: solid #4DB8FFF;
  height: 100%;
  border: 1px solid #4DB8FF;
  background: white;
  width: 100%;
text-align: center;
overflow: auto;
}

.paymentAmt {
    font-size: 80px; 
}

.centered {
    text-align: center;
}

.title {
 padding-top: 15px;   
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'product/main';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
